.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: self-start;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 28px;
  margin-left: 32px;
  margin-right: 32px;
  max-width: 2100px;      
  width: calc(100% - 64px); 
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding-left: 12px;
  height: 44px;
  flex: 1;                 
}

.searchIcon {
  width: 22px;
  height: 22px;
  color: #757575;
  margin-right: 8px;
}

.search {
  flex: 1;
  padding: 8px 8px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  height: 100%;
}

.filterButton {
  background-color: #7b36c3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0 28px;
  font-size: 20px;
  margin-left: 100px;
  cursor: pointer;
  font-weight: 500;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  box-shadow: 0 1px 3px #00000010;
}

.filterButton:hover {
  background-color: #5b2791;
}

.arrow {
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
}
