.loginCardContainer {
  position: relative;
  width: 640px;
  height: 480px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.panel {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel1 {
  left: 0;
  background-color: var(--color-secondary);
}

.panel2 {
  right: 0;
  background-color: var(--color-primary);
}

.panel3 {
  right: 0;
  background-color: var(--color-secondary);
  gap: 10px;
}

.panelContent {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 281px;
  gap: 20px;
}

.loginTitle,
.signupTitle {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.loginTitle {
  color: var(--color-primary);
}

.signupTitle {
  color: var(--color-secondary);
}

.signupTitle.panel2 {
  color: var(--color-background);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sgupButton {
  margin-top: 5px;
}

.checkboxAndLinkWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.forgotPasswordLink {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 700;
}

.signupMessage {
  font-size: 16px;
  color: var(--color-background);
  text-align: center;
  font-weight: 700;
}

.signupToggleMessage {
  font-size: 14px;
  text-align: center;
  color: var(--color-background);
  transition: all 0.2s ease;
  font-weight: 700;
}
