.donationContent{
    display: flex;
    gap: 20px;
}

.donationLeftBox{
    display: flex;
    background-color: #f5f5f5;    
    align-items: flex-start;
    border-radius: 30px;
    padding: 10px;
}

.donationOngImage{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 15px;
}

.donationHeader{
    margin-left: 20px;
    margin-top: 0px;
    padding: 0px;
}

.donationTitleOng{
    color: #6B39A7;
    font-size: 64px;
    font-weight: bold;
    margin-right: 200px;
}

.donationParagraph{
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    
}

.donationRightBox{
    background-color: #f5f5f5;
    border-radius: 30px;
    width: 500px;
}