.ongcontainer {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #dcb8ff, #ecdbff);
  text-align: center;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  flex: 0.2;
}

.header h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #4c1d95;
}

.header span {
  color: #7c3aed;
}

.container {
  border-radius: 0 0 12px 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1.1;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.left {
  background-color: var(--color-surface);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
  flex: 1.5;
  padding-top: 0;
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  background-color: #000;
  margin-top: 12px;
}

.nameRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.info {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.ongname {
  font-size: 52px;
  color: var(--color-contrast);
}

.verified {
  color: #9333ea;
}

.rating {
  font-display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-start;
}

.stars {
  justify-self: flex-start;
  color: #facc15;
  font-size: 1.2rem;
}

.ratingTitle {
  justify-self: flex-start;
  font-size: 20px;
  color: var(--color-contrast);
}

.ratingText {
  justify-self: flex-start;
  font-size: 0.8rem;
  color: gray;
}

.favorite {
  background: #9333ea;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  font-size: 0.85rem;
  cursor: pointer;
}

.right {
  background-color: var(--color-surface);
  border-radius: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  padding-top: 0;
  justify-content: flex-start;
}

.aboutHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: 36px;
  background-color: transparent;
  border: none;
}

.aboutTitle {
  font-size: 48px;
}

.about p {
  font-size: 20px;
  color: #374151;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #9333ea;
  font-size: 1.2rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags span {
  background: #e5e7eb;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.75rem;
}

.contribution {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contributionTitle {
  font-size: 36px;
  color: var(--color-contrast);
}

.cards {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
}

.moneyCard,
.itemsCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 12px;
  justify-content: flex-start;
  align-items: start;
  background-color: var(--color-primary);
  width: 100%;
}

.moneytitle,
.itemstitle {
  font-weight: 700;
  font-size: 32px;
  color: white;
}
.email,
.phone,
.location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.moneyheader,
.itemsheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.money,
.items {
  background: white;
  color: var(--color-primary);
  border: none;
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
