.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-surface);
  padding: 1%;
  height: 50px;
  position: sticky;
  z-index: 999;
  top: 0;
}

.headerNav {
  display: flex;
  gap: 24px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-weight: 500;
}
